body{
  background: url(https://img.freepik.com/free-vector/summer-sun-background-yellow-3d-design-vector_53876-135916.jpg?w=996&t=st=1676201781~exp=1676202381~hmac=d54e9e32dd0e83071c80809bfd40e53ef82cbd9de892b5423b87712355f79dd4);
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main{
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 10px solid rgba(233, 181, 83, 0.767);
  border-radius: 30px;
}
.buttonArea Button{
  
  margin: 10px 5px;
}
.buttonArea{
  display:flex;

  
}